In [21]:
import pandas as pd
import sqlite3

In [22]:
connection=sqlite3.connect('database.sqlite')
cursion=connection.cursor()

In [23]:
# cursion.execute("""
#     CREATE TABLE STOCK (
#         ID INTEGER PRIMARY KEY,
#         NAME TEXT NOT NULL,
#         BUY INTEGER NOT NULL,
#         INVESTOR TEXT NOT NULL
#     );
# """)

In [24]:
# cursion.execute("""
#     INSERT INTO STOCK (ID, NAME, BUY, INVESTOR) VALUES
#     ('1','ACB','29.45','Nguyen'),
#     ('2','VIC','44.55','Nguyen'),
#     ('3','GMD','74.30','Nguyen'),
#     ('4','ACB','28.45','Vinh'),
#     ('5','VIC','40.55','Vinh'),
#     ('6','GMD','60.30','Vinh');
# """)

In [25]:
# connection.commit()

Câu 1:

In [29]:
query ="""
    SELECT SUM(BUY) AS TOTAL_BUY FROM STOCK;
"""
data=pd.read_sql_query(query,connection)
print(data)

   TOTAL_BUY
0      277.6

Câu 2:

In [44]:
query="""
    SELECT INVESTOR, NAME,MAX(BUY) AS MAX_PRICE FROM STOCK GROUP BY INVESTOR;
"""
data=pd.read_sql_query(query,connection)
print(data)

  INVESTOR NAME  MAX_PRICE
0   Nguyen  GMD       74.3
1     Vinh  GMD       60.3