In [ ]:
import pandas as pd
import sqlite3

In [ ]:
connection=sqlite3.connect('database.sqlite')
cursion=connection.cursor()

In [ ]:
cursion.execute("""
CREATE TABLE PRODUCT(
    ID INTEGER PRIMARY KEY,
    NAME TEXT NOT NULL,
    PRICE INTEGER NOT NULL
);
""")

Câu 1:

In [ ]:
cursion.execute("""
    INSERT INTO PRODUCT(ID,NAME,PRICE) VALUES ('1','iPhone 15','18000000'),('2','Galaxy Z-Fold 5','30000000');
""")

Câu 2:

In [13]:
cursion.execute("""
    UPDATE PRODUCT SET PRICE='50000000' WHERE ID=2;
""")

Câu 3:

In [15]:
cursion.execute("""
    DELETE FROM PRODUCT WHERE ID='1'
""")

In [16]:
connection.commit()
data=pd.read_sql_query("SELECT * FROM PRODUCT",connection)
print(data)

   ID             NAME     PRICE
0   2  Galaxy Z-Fold 5  50000000